.resetIconWrapper {
  width: 19px;
  height: 13.5px;
}
.applyIconWrapper {
  width: 21px;
  height: 21px;
}
.resetButton,
.applyButton {
  width: 159px;
  height: 41px;
  padding: 11px 28px;
}

.applyButton {
  padding: 10px;
}
