@import "./default.css";
@import "./normalize.css";

.AISPP__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1730px;
  padding: 45px 35px 11px 24px;
}

.AISPP__header_mainLogo {
  display: flex;
  align-items: center;
  gap: 31px;
}

.AISPP__header_links {
  display: flex;
  gap: 75px;
  color: var(--aispp-color-dark-blue);
}

.AISPP_mainLogo__systemName {
  font-size: 28px;
  font-weight: 500;
  color: var(--aispp-color-dark-blue);
  cursor: pointer;
}

.AISPP_links-registry,
.AISPP_links-auth {
  font-size: 20px;
  font-weight: 600;
  color: var(--aispp-color-dark-blue);
  cursor: pointer;
}
.AISPP_UI_commonMain {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.AISPP_UI_main {
  margin: auto;
  width: 95%;
  flex: 1;
  position: relative;
}

/* Table */
.AISPP_UI_table {
  border-radius: 10px 10px 0px 10px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  height: 100%;
  border-spacing: 0px;
  position: relative;
  overflow: auto;
  display: block;
}
.AISPP_UI_table .AISPP_UI_table_thead {
  width: 100%;
  display: block;
  position: sticky;
  top: 0;
  background: white;
  z-index: 9;
}
.AISPP_UI_table .AISPP_UI_table_tbody {
  display: block;
  background-color: var(--aispp-color-white-table);
}

.AISPP_UI_table .AISPP_UI_table_thead .AISPP_UI_table_tr,
.AISPP_UI_table .AISPP_UI_table_tbody .AISPP_UI_table_tr {
  display: grid;
  min-height: 47px;
  border-bottom: 1px solid var(--aispp-color-button-disabled);
}
.AISPP_UI_table .AISPP_UI_table_thead .AISPP_UI_table_td {
  background: var(--aispp-color-blue);
  color: var(--aispp-color-white);
  font-size: 15px;
  font-weight: 500;
}
.AISPP_UI_table .AISPP_UI_table_tbody .AISPP_UI_table_tr:hover {
  background: rgba(223, 224, 225, 0.4);
}
.AISPP_UI_table .AISPP_UI_table_tbody .AISPP_UI_table_tr:hover > :first-child {
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.AISPP_UI_table .AISPP_UI_table_td {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
}
.AISPP_UI_table .AISPP_UI_table_td:not(:last-child) {
  border-right: 1px solid var(--aispp-color-button-disabled);
}
.AISPP_UI_table .AISPP_UI_table_td[disabled] {
  background: #dfe0e1;
  border-radius: 10px;
}
.AISPP_UI_emptyTable_tr {
  color: #a8b1b8;
  text-align: center;
  padding: 13px 0px;
  font-weight: 700;
  font-size: 16px;
  display: block;
}
/* ------ */

/* Select */
.AISPP_selectBlock {
  position: relative;
}
.AISPP_selectBlock__input {
  position: relative;
  width: 100%;
  min-height: 40px;
  border: 1px solid var(--aispp-color-gray);
  display: flex;
  align-items: center;
  gap: 8px;
  outline: none;
  border-radius: 10px !important;

  font-size: 15px;
  font-weight: 400;
}
.AISPP_selectBlock__input:hover {
  border-color: var(--aispp-color-blue) !important;
}
.AISPP_selectBlock__valueContainer {
  padding: 2px 12px !important;
}
.AISPP_selectBlock__singleValue {
  color: #36476c !important;
}
.AISPP_selectBlock__placeholder {
  color: #a8b1b8 !important;
  font-weight: 500;
  display: flex;
  align-items: center;
  svg {
    margin-right: 10px;
  }
}
.AISPP_selectBlock__options {
  border-radius: 10px !important;
  box-shadow: none !important;
  z-index: 9999 !important;
}
.AISPP_selectBlock__optionsList {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-radius: 10px;
}
.AISPP_selectBlock__optionsItem {
  background: var(--aispp-color-white) !important;
  border: 1px solid var(--kipariss-color-pantone427);
  backdrop-filter: blur(4px);
  padding: 12px 0px 12px 14px !important;
  cursor: pointer !important;
  font-weight: 400;
  font-size: 15px !important;
}
.AISPP_selectBlock__optionsList > .AISPP_selectBlock__optionsItem:first-child {
  border-radius: 10px 10px 0px 0px;
}
.AISPP_selectBlock__optionsList > .AISPP_selectBlock__optionsItem:last-child {
  border-radius: 0px 0px 10px 10px;
}
.AISPP_selectBlock__optionsItemActive {
  background-color: hsl(200, 100%, 70%) !important;
  color: var(--aispp-color-white) !important;
}
.AISPP_selectBlock__optionsItemFocus {
  background: hsl(200, 100%, 50%) !important;
  color: var(--aispp-color-white) !important;
  border-color: var(--aispp-color-button-disabled);
  z-index: 9;
  position: relative;
}
/* ------ */

/* Loader */

.AISPP_loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  z-index: 99999;
}
.AISPP_loader__roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.AISPP_loader__roller div {
  animation: AISPP_loader__roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.AISPP_loader__roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #36476c;
  margin: -4px 0 0 -4px;
}
.AISPP_loader__roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.AISPP_loader__roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.AISPP_loader__roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.AISPP_loader__roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.AISPP_loader__roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.AISPP_loader__roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.AISPP_loader__roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.AISPP_loader__roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.AISPP_loader__roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.AISPP_loader__roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.AISPP_loader__roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.AISPP_loader__roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.AISPP_loader__roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.AISPP_loader__roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.AISPP_loader__roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.AISPP_loader__roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes AISPP_loader__roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------ */

// Emil Project

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
}

.leaflet-bottom .leaflet-control {
  display: none;
}

.custom-marker-icon {
  width: 50px !important;
  height: 50px !important;
  background-image: url("../components/pages/openmap/icon/cam.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-cluster-large,
.marker-cluster-medium,
.marker-cluster-small {
  width: 50px !important;
  height: 50px !important;
  margin-top: -25px !important;
  margin-left: -25px !important;
  background-color: transparent;
  background-image: url("../components/pages/openmap/icon/cam.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.marker-cluster-large div,
.marker-cluster-medium div,
.marker-cluster-small div {
  width: 40px !important;
  height: 40px !important;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-cluster-large div span,
.marker-cluster-medium div span,
.marker-cluster-small div span {
  color: #002550;
  font-size: 12px;
  font-weight: 700;
}

.leaflet-control-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .leaflet-top {
    position: inherit;
    margin-right: 12px;

    .leaflet-control {
      margin: 0;
      border: none;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.leaflet-popup-tip-container {
  display: none;
}

/* Modal Window */
.KIPARISS_UI_accessibleModal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  backdrop-filter: blur(5px);
  overflow: hidden;

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__contentWrapper {
    width: 518px;
    height: 478px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
    padding: 20px;
    border-radius: 10px;
  }

  &__header {
    height: 50px;
    overflow: hidden;
  }

  &__headerTitle {
    color: #168ee8;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__btnExit {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 31px;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
  }

  &__btnExit:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    svg path {
      fill: #0290ff;
    }
  }
  &__textWrapper {
    display: grid;
    grid-template-columns: 124px 1fr;
  }
  &__text {
    color: #333;
    font-size: 16px;
    font-weight: 600;
  }
  &__image {
    border-radius: 10px;
  }
  &__button {
    display: flex;
    height: 40px;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: linear-gradient(
      0deg,
      rgba(2, 144, 255, 0.8) 0%,
      rgba(70, 174, 255, 0.8) 100%
    );
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.TCM_UI_main {
  margin: auto;
  width: 100%;
  padding: 0 68px;
  flex: 1;
  position: relative;
  margin-top: 40px;
}

.TCM__footer {
  height: 70px;
  background: #fafbfc;
  box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-left: 68px;
}

.TCM__footer-title {
  color: rgba(51, 51, 51, 0.5);
  font-size: 16px;
  font-weight: 600;
  user-select: none;
}

.TCM__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 68px;
  justify-content: space-between;
  background: #fafbfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
}

.TCM__header_systemName {
  color: #0290ff;
  font-size: 20px;
  font-weight: 600;
  user-select: none;
}

.TCM__header-right {
  display: flex;
  align-items: center;
  gap: 80px;
}

.TCM__header-link {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.TCM__header-link:hover,
.TCM__header-link_active {
  padding-bottom: 4px;
  border-bottom: 2px solid #0290ff;
}

.TCM__header-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.TCM__header-button_title {
  color: rgba(2, 144, 255, 0.8);
  font-size: 16px;
  font-weight: 600;
}

.TCM__header-button svg path {
  fill: rgba(2, 144, 255, 0.8);
  fill-opacity: 1;
}
.TCM__header-button:hover > .TCM__header-button_title {
  color: #0290ff;
  fill-opacity: 1;
}

.TCM__header-button:hover {
  svg path {
    fill: #0290ff;
  }
}
