.resetIconWrapper {
  width: 19px;
  height: 13.5px;
}
.applyIconWrapper {
  width: 21px;
  height: 21px;
}
.resetButton,
.applyButton {
  width: 159px;
  height: 41px;
  padding: 11px 28px;
  transition: 0.5s ease-in-out;
}

.resetButton {
  background-color: var(--aispp-color-button-disabled);
}

.applyButton {
  padding: 10px;
}

.rightMenu {
  position: relative;
  max-width: 30%;
  width: 60px;
  /* Поменял высоту */
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f0f2f7;
  padding: 58px 41px 41px;
  transition: 0.5s ease-in-out;
  overflow-x: hidden;
}

.rightMenu-open {
  width: 30%;
}

.buttonWrapper {
  margin-top: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.caret {
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 19px;
  transform: rotate(90deg);
  border: 12px solid transparent;
  border-top-color: var(--aispp-color-gray);
  transition: 0.1s ease-in-out;
}

.caret-open {
  transform: rotate(270deg);
  transition: 0.1s ease-in-out;
}

.filters__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filters__title {
  color: var(--aispp-color-dark-blue);
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}

.filters__radio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
